{{ define "back/admin.html" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<h1>你好!管理员</h1>
<button type="button" onclick='location.href=("/admin/search")'>用户搜索</button> <br>

<form action="/userinfo" method="post">
    <input type="submit" value="退出">
</form>
</body>

</html>

{{ end }}